extends ../layout

block content
    h1 lista de vinilos
    if error 
        p(class="error")= error
    if data
        ul
            each vinyl in data 
                li
                    a(href="/vinyl/"+vinyl.id_vinyl)= vinyl.album_name
                    a(href=`/vinyl/${vinyl.id_vinyl}/update`) 
                        button Editar
                    form(action=`/vinyl/${vinyl.id_vinyl}/remove`, method="post") 
                        button(type="submit") Borrar
                    form(action='/vinyl/add', method='post')
                        input(type="hidden" value=vinyl.id_vinyl name="id_vinyl")
                        button(type='submit') Añadir al carrito
    a(href="/vinyl/new")
        button Nuevo

