extends ../layout

block content
    if error 
        p(class="error")= error
    if vinyl 
        h2= vinyl.album_name 
        h3= vinyl.artist_name
        if vinyl.price
            p Precio: #{vinyl.price}$
            form(action="/cart/add" method="POST") 
                input(type="hidden" name="vinylId" value=vinyl.id_vinyl)
                button(type="submit") Agregar al carrito 
        if vinyl.relase_date 
            p Fecha de lanzamiento: #{vinyl.relase_date}
    a(href="/vinyl")
        button Volver
