extends ../layout

block content
    if error 
        p(class="error")= error
    if vinyl 
        h2= vinyl.album_name 
        h3= vinyl.artist_name
        if vinyl.price
        p Precio: #{vinyl.price} $
        if vinyl.relase_date 
            p Fecha de lanzamiento: #{vinyl.relase_date}
        if vinyl.genero
            p genero: #{vinyl.genero.genre_name}
        if session.user
            form(action='/vinyl/add', method='post')
                input(type="hidden" value=vinyl.id_vinyl name="id_vinyl")
                button(type='submit') Añadir al carrito
    a(href="/vinyl")
        button Volver