extends ../layout

block content
    h1 lista de carritos
    if error 
        p(class="error")= error
    if data
        ul
            each cart in data 
                li  
                    p(cart.id_cart)= "Carrito número: "+ cart.id_cart
                    a(href="/cart/"+cart.id_cart)="El Id del dueño del carrito es: "+ cart.id_user
                    a(href=`/cart/${cart.id_cart}/update`) 
                        button Editar
                    form(action=`/cart/${cart.id_cart}/remove`, method="post") 
                        button(type="submit") Borrar
    a(href="/cart/new")
        button Nuevo