extends ../layout

block content
    if error 
        p(class="error")= error
    if cart 
        h2= cart.id_user
        //- Otra manera de hacerlo
        //- p Comprar: #{cart.cart_closed==1 ? 'si': 'no'} 
        if cart.cart_closed == 1
            p Comprar: Si
        else 
            p Comprar: No
        if cart.user  
            p Usuario: #{cart.user.user_name}
        if cart.vinilos
            p #{cart.vinilos.album_name}
            p #{cart.vinilos.artist_name}
            p #{cart.vinilos.price}
    a(href="/cart")
        button Volver